<?xml version="1.0"?>
<!-- For more information on using app.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <connectionStrings>
    <add name="KeeleyModel" connectionString="metadata=res://*/KeeleyModel.csdl|res://*/KeeleyModel.ssdl|res://*/KeeleyModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=SQL02;Initial Catalog=Keeley;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>

</configuration>