
# /
/*.o *.lo *.la #*# .*.rej *.rej .*~ *~ .#* .DS_Store thumbs.db Thumbs.db *.bak *.class *.exe *.dll *.mine *.obj *.ncb *.lib *.log *.idb *.pdb *.ilk *.msi* .res *.pch *.suo *.exp *.*~ *.~* ~*.* cvs CVS .CVS .cvs release Release debug Debug ignore Ignore bin Bin obj Obj *.csproj.user *.user *.generated.cs
/Odey.Security.v12.suo
/Odey.Security.sln.DotSettings.user
/.vs

# /Odey.Security.SecurityService/
/Odey.Security.SecurityService/Odey.Security.SecurityService.csproj.user

# /Odey.Security.SecurityService/Properties/PublishProfiles/
/Odey.Security.SecurityService/Properties/PublishProfiles/*.user

# /Odey.Security.Testing/
/Odey.Security.Testing/Odey.Security.Testing.csproj.user
# /Odey.Security.Testing/App.config
